.features-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.features-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: white;
  font-family: Tahoma, sans-serif;
}

.features-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  margin: 0 auto;
  max-width: 600px;
  font-family: Tahoma, sans-serif;
}


@media (max-width: 768px) {
  .features-container {
    padding: 1rem;
  }
  
  .features-container h1 {
    font-size: 2rem;
  }
  
  .features-description {
    font-size: 1rem;
  }
}
